<app-navbar></app-navbar>

<div id="layoutSidenav">
        <app-sidebar></app-sidebar>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <app-home></app-home>
                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Meus Clientes 2024</div>
                        <div>
                            <a href="#">Política de Privacidade</a>
                            &middot;
                            <a href="#">Termos &amp; Condições de Uso</a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
</div>